

.image-style{
    height: 150px;
  width: 100%;
}



.left-content{

    height: 400px;
    width: 33%;
    background-color : #0a0a0a!important;
    float:left;
    
    margin-top :-25px;
    text-decoration: none;


    
}

/*button1 {
    
    padding-left: 15px;
    margin-left: 50px;
    margin-right:150px;
    margin-top: 125px;
    background-color:#9f6060 ;
    color :#000000;
    height:80px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; 
  }
  */

  
  

  .btn1 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 125px;
    background-color: #00DCA8 ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:250px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }


  .btn2 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 35px;
    background-color: #8FE1FF ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:250px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }

  .btn3 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 125px;
    background-color:#98AFC7	 ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:280px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }

  
  .btn4 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 35px;
    background-color: #8FE1FF ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:280px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }

  .btn5 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 125px;
    background-color:#54C571	 ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:280px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }


  .btn6 {
    
    padding-left: 15px;
    margin-left: 75px;
  
    margin-top: 35px;
    background-color:#FDEEF4	 ;
    color :#000000;
    font-size: 25px;
    height:80px;
    width:280px;
    text-decoration: none;
    
   
    border: 2px solid#A92323; /* Green */
  }



.middle-content{
    height: 400px;
    width: 34%;
    background-color:rgb(134,27 ,19);
    float:left;
    margin-top :-25px;
}

.right-content{
    height: 400px;
    width: 33%;
    background-color: #000000;
    float: left;
    margin-top :-25px;
}


.footer{
  background-color:#abd9d5;
  height: 140px;
  text-align: center;
  font-weight: bold;
 
    clear: left;


  

}

